<main>
    <div class="filters">
        
        <ul class="category-filter">
            <div class="filter-title">category</div>
            <li *ngFor="let category of categories" [value]="category"  (click)="onCategoryChange(category)">
                {{ category }}
            </li>
        </ul>
        <ul class="brand-filter">
        <div class="filter-title">Brand</div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" [checked]="selectAllChecked" (change)="onSelectAllChange($event)" id="selectAll">
                <label class="form-check-label" for="selectAll">
                    Select All
                </label>
            </div>
            <div class="form-check" *ngFor="let brand of brands">
            <input class="form-check-input" type="checkbox" [value]="brand" 
            [checked]="selectedBrands.includes(brand)"
            (change)="onBrandChange(brand, $event)" id="{{brand}}" checked>
            <label class="form-check-label" for="{{brand}}">
                {{ brand }}
            </label>
            </div>
        </ul>
        <ul class="price-filter">
        <div class="filter-title">Price Range (EGP)</div>
         <div class="price-attr"><span>from</span> 
         <input label="from" type="text" placeholder="0" class="priceInput" [(ngModel)]="minPrice" (input)="onPriceRangeChange()">
         <span>to</span>
         <input type="text" placeholder="1000" class="priceInput"[(ngModel)]="maxPrice"(input)="onPriceRangeChange()">
        </div></ul>
        <ul class="rating-filter">
        <div class="filter-title">Product Rating</div>
        <div style="flex-grow: 1;">
            <mat-slider min="1" max="5" step="0.5" >
            <input matSliderThumb [(ngModel)]="maxRating" (input)="onSliderChangeEnd(maxRating)">
        </mat-slider>
        </div>
        </ul>
    </div>
    <section class="product-list">
        <div class="title"><span>{{totalProducts}} Results for </span> " {{selectedCategory}} "</div>
        <article >
            <div class="product producr-item" *ngFor="let product of displayedProducts">
                <div [routerLink]="['/product', product.id]">
                    <div class="img">
                        <img  class="img-fluid"src="{{product.images[0]}}" alt="">
                    </div>
                    <div class="data">
                        <h6>{{product.title}}</h6>
                        <div class="price-rate">
                            <div class="price"><span>EGP</span>{{product.price}}</div>
                            <div class="rating"><img src="../../../../public/images/IconStar.png"><span>{{product.rating}}</span>({{product.rating*1000/10}})</div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <nav aria-label="Page navigation example">
            <ul class="pagination" *ngIf="pageCount>1">
              <li class="page-item"><a class="page-link"  (click)="onPageChange(currentPage - 1)" [class.disabled]="currentPage === 1">Previous</a></li>
              <li class="page-item"*ngFor="let page of pagesNumbers"><a class="page-link"  (click)="onPageChange(page)" >{{page === 0 ? '...' : page}}</a></li>
              <li class="page-item"><a class="page-link" (click)="onPageChange(currentPage+1)" [class.disabled]="currentPage >= (totalProducts / pageSize | ceil)">Next</a></li>
            </ul>
        </nav>
    </section>
</main>